
nav {
  background-color: black;
  border-radius:200px;
  color:white;
  padding: 3px;
  position:fixed;
}
img { width:40vw;

float:right;}

nav a {
  color: white;
  margin: 10px}


  
  
main {
  padding-top:30px;
  max-width: width 30px;
}

body {
  background: #0a5dac38;
  font-family:georgia;
}
section {
  background: #5d5e6625;
}
h1 {
  padding-left:10px;
  color: #720606;
  border-radius:5px;
  background: #212f6d94 ; 
  font-family:Georgia ;
}
h2 {
  color: #1a2a49;
}

.kolorh2-stronaglowna {
  color: #a03430;
}
#kolorh2-oferta {
  color: #d62e2e;
}


footer {
  color: black;
}
footer a {
  color: blue
}